.planesGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 50px;
}
.sort{
    height: 80px;
    background-color: #442d85;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}
.planesHeader{
    justify-content: space-between;
    align-items: center;
}
.createPlaneBtn{
    background: linear-gradient(180deg,#ffffff 0%, #d9dfff 100%);
    border: 1px solid rgba(255,255,255,0.5);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    border-radius: 20px;
    color: black;
    padding: 8px 12px;
}
.sortBtn{

}