.button{
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    background-color:#2fb5fc ;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.backButton{
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    background-color: red ;
    font-size: 14px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
