.plane {
    padding: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    place-items: center;
    min-height: 50vh;
}

.title {
    margin-top: 40px;
}
.buyBtnContainer {
    margin-bottom: 30px;
}


.desc {
    line-height: 24px;
    color: rgb(148, 163, 184);
}

.price {
    margin: 30px 0;
    font-size: 24px;
    font-weight: bold;
    color: #2fb5fc;
}

.image {
    aspect-ratio: 3/2;
    object-fit: cover;
    border-radius: 20px ;
}