.header{
    height: 35vh;
    position: relative;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #191a43 0%, #442d85 100%);
    overflow: hidden;
}
.content{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 60px;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-name: fadeInAnimation;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    white-space: pre-line;
}
.desc{
    font-size: 30px;
    opacity: 0;
    transform: translateY(20px);
    animation-duration: 1s;
    animation-delay: 1s;
    animation-name: fadeInAnimation;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    white-space: pre-line;
    color: rgba(255,255,255, 0.7);
    text-transform: capitalize;
}
.wave{
    position: absolute;
    width: 100%;
    bottom: -200px;
}
@keyframes  fadeInAnimation{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

